{% extends 'base.html' %}

{% block title %}
Register | PackCheck AI
{% endblock %}


{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <div class="auth-logo">
            ⚖️
        </div>

        <h2>
            Create Account
        </h2>

        <p class="auth-subtitle">
            Join PackCheck AI
        </p>


        <form method="POST">

            {% csrf_token %}


            <div class="form-group">

                <label>
                    Full Name
                </label>

                <input
                    type="text"
                    name="full_name"
                    class="form-control"
                    placeholder="Enter your name"
                    required>

            </div>


            <div class="form-group">

                <label>
                    Username
                </label>

                <input
                    type="text"
                    name="username"
                    class="form-control"
                    placeholder="Choose username"
                    required>

            </div>


            <div class="form-group">

                <label>
                    Email
                </label>

                <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter email"
                    required>

            </div>


            <div class="form-group">

                <label>
                    Password
                </label>

                <input
                    type="password"
                    name="password"
                    class="form-control"
                    placeholder="Create password"
                    required>

            </div>


            <div class="form-group">

                <label>
                    Confirm Password
                </label>

                <input
                    type="password"
                    name="confirm_password"
                    class="form-control"
                    placeholder="Confirm password"
                    required>

            </div>


            <button
                type="submit"
                class="auth-button">

                Create Account

            </button>

        </form>


        <p class="auth-bottom">

            Already have an account?

            <a href="/login/">
                Login
            </a>

        </p>

    </div>

</section>

{% endblock %}